# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
env/
.venv/

# Data artifacts
*.pt
*.pkl
*.csv

# Mac system files
.DS_Store

# Output folders 
models/
results/

# Keep important data files
!data_v19.csv
!data_v19_aug.csv
!frontier_v19.csv
!filtered_points_3.csv

